/*
 * @Author: Avenda
 * @Date: 2018/10/23
 */

.pay-bg {
    background: #00aaef url("../../image/bg-timg.png") center;
    height: 435px;
    margin-bottom:  40px;
}
.pay-logo {

    margin: 20px 0;
    overflow: hidden;
}
.pay-logo .logo {

    height: 40px;
    width: 114px;
    display: inline-block;

    background: url("../../image/icons/payment-logo.png") round;
}
.pay-logo .logo-title {
    display: inline-block;
    font-weight: 900;
    color: #574f4d;
    margin-top: -5px;
    vertical-align: middle;
    height: 22px;
}
.payment-con {
text-align: center;
}
.payment-con .pay-tips {
    margin: 10px 0;
}
.payment-con .pay-tips *{
    color: white;
}
.payment-con .pay-tips .tips-title {
    font-weight: 900;
    font-size: 30px;
}
.payment-con .pay-tips .tips-con {
    font-size: 14px;
    background: white;
    color: #00aaef;
    width: 300px;
    margin: 0 auto;
    font-weight: 900;
}
.payment-con .pay-img {
    width: 300px;
    height: 300px;

    margin: 0 auto;
}
.payment-con .pay-img img {
    width: 300px;
    height: 300px;
}
.payment-con .pay-tips-bottom {
    font-size: 18px;
    color: white;
    margin: 10px 0;
}