
html { overflow: scroll; }
.top-search {
    position:fixed;
    top: -50px;
    width: 100%;
    height: 49px;
    background: #eeeeee;
    border-bottom: 1px solid #dddddd;
    z-index: 100;
    -webkit-transition: top 0.2s;
    -moz-transition: top 0.2s;
    -ms-transition: top 0.2s;
    -o-transition: top 0.2s;
    transition: top 0.2s;
}
.top-search .logo-top {
    margin-top: -10px;
    margin-left: 160px;
    position: absolute;
    color: #ff9838;
    font-weight: 900;
    font-size: 30px;
}
.top-search .logo-top span {
    color: #444444;
}
.top-search .search .search-input {
    float: left;
    padding: 7px 0 7px 15px;
    border-radius: 1rem 0 0 1rem;
    width: 500px;
    color: #ff9838;
    margin-left: 300px;
}
.top-search .search .btn-search {
    padding: 7px 15px;
    margin-left: -1px;
    float: left;
    border-radius: 0 1rem  1rem 0;
}
.top-search .w {
    margin-top: 10px;
}
.sort-con {
    overflow: auto;
    padding-bottom: 10px;
}
.sort-con .sort-item {
    float: left;
    display: inline-block;
    position: relative;
    height: 21px;
    line-height: 21px;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 12px;

}
.sort-con .sort-item.btn-white {
    border: 1px solid #eeeeee;
}
.sort-con .sort-item.btn-white.active  {
    border: 1px solid #ff9838;
}

.sort-con .sort-item.asc .fa-sort-desc {
    opacity: 0.4;
}
.sort-con .sort-item.desc .fa-sort-asc {
    opacity: 0.4;
}
.sort-con .sort-item .fa-sort-desc {
    position: absolute;
    top: 7px;
    right: 10px;
}
.page-main .w {
    overflow: hidden;
}
.list-con {
    margin-top: -15px;
    overflow: hidden;
    width: 1080px;
    margin-right: -20px;
    padding-bottom: 20px;
}
.product-wrap {
    width: 1100px;
    margin-right: -20px;
}
.product-wrap .product-item {
    width: 200px;
    height: 300px;
    margin-top: 20px;
    margin-right: 20px;

    float: left;
    background:white;
    top: 0;
    position: relative;
    box-sizing: border-box;
    border: 1px solid white;
    -webkit-transition: box-shadow 0.3s,top 0.3s, border 0.2s;
    -moz-transition: box-shadow 0.3s,top 0.3s, border 0.2s;
    -ms-transition: box-shadow 0.3s,top 0.3s, border 0.2s;
    -o-transition: box-shadow 0.3s,top 0.3s, border 0.2s;
    transition: box-shadow 0.3s,top 0.3s, border 0.2s;
    -webkit-box-shadow: 0 0 0  rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 0  rgba(0,0,0,.1);
    box-shadow: 0 0 0  rgba(0,0,0,.1);

}
.product-wrap .product-item:hover {
    top: -5px;
    border: 1px solid #ff9838;
    -webkit-box-shadow: 0 10px 20px  rgba(0,0,0,.1);
    -moz-box-shadow: 0 10px 20px  rgba(0,0,0,.1);
    box-shadow: 0 10px 20px  rgba(0,0,0,.1);

}
.product-wrap .product-item .product-tag {
    margin-top: 3px;
    margin-left: 5px;
    font-size: 12px;
    color: white;
    padding: 0 5px 0 5px;
    position: absolute;
    background: #ff9838;
}
.product-wrap .product-item .product-img {
    height: 197px;
    width: 197px;
    margin-left: 1px;
    background: #eeeeee round;
}
.product-wrap .product-item .product-title {
    display: block;
    width: 100%;
}
.product-wrap .product-item .product-title.title-main {
    text-align: left;
    font-size: 12px;
    color: #333;
    width: 188px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    display: block;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    overflow: hidden;
}
.product-wrap .product-item .product-title.title-main:hover {
    color: #ff9838;
}
/*副标题*/
.product-wrap .product-item  p {
    margin-top: 5px;
    text-align: center;
    color: #bbbbbb;
    width: 188px!important;
    margin-left: 10px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*价格*/
.product-wrap .product-item span {
    font-size: 14px;
    color: #ff6700;
}
.product-wrap .product-item .product-title.price {
    margin-top: 5px;
    text-align: left;
    margin-left: 12px;
    font-size: 16px;
}
.list-con .empty-hint {
    position: relative;
    margin-top: 20px;
    margin-left: 280px;
}
.list-con .empty-hint .empty-content {
    color: #888;
    font-size: 25px;
    margin-left: 150px;
    font-weight: 500;
    line-height:120px;
}
.list-con .empty-hint .empty-return {
    position: absolute;
    bottom: 10px;
    left: 250px;
}
.list-con .empty-hint .empty-return.btn:active {
    position: absolute!important;
}
/*分页区*/
.pg-content {
    width: 100%;
}
.pg-wrap {
    margin-left: 430px;
    height: 37px;
}
.pg-item {
    cursor: pointer;
    font-size: 12px;
    font-weight:900 ;
    color: #666666;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
.pg-item.active {
    color: #ff9838;
    font-size: 16px;
}
.pg-total {
    color: #999;
    margin-left: -10px;
}
.pg-content .pg-btn {
    height: 25px;
    line-height: 25px;
    color: white;
    font-size: 12px;
    padding: 0 10px ;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.pg-content .pg-btn.disabled {

    background: #aaa;

    cursor: default;
    -webkit-box-shadow: 0px 0px  0px #ff9d2b;
    -moz-box-shadow: 0px 0px 0px #ff9d2b;
    box-shadow: 0px 0px  0px #ff9d2b;
}
.pg-content .pg-btn.disabled:active {
    top: 0;
}
.pg-content .pg-item.active {
    cursor: default;
}