/*导航主题*/
.nav-side {
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item {
    line-height: 30px;
    font-size: 13px;
}
.nav-side .nav-item.active .link {
    color: #ff9838;
}
    /*右侧内容区*/
.content.with-nav {
    float: left;
    width: 910px;
    padding: 10px 20px;
}
