/*
 * @Author: Avenda
 * @Date: 2018/10/12
 */
.fixed-tab {
    position: fixed;
    top:-35px;
    margin-left: 753px;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -ms-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
    
}
.fixed-tab .fixed-tab-item {
    display: block;
    margin-top: -3px;
    margin-right: -1px;
    cursor: pointer;
    width: 80px;
    height: 30px;
    border: 1px solid #ddd;
    text-align: center;
    line-height:  30px;
    color: #aaaaaa;
    float: left;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    background: white;
    -webkit-transition: background 0.5s, border 0.5s, color 0.5s;
    -moz-transition: background 0.5s, border 0.5s, color 0.5s;
    -ms-transition: background 0.5s, border 0.5s, color 0.5s;
    -o-transition: background 0.5s, border 0.5s, color 0.5s;
    transition: background 0.5s, border 0.5s, color 0.5s;
}
.fixed-tab .fixed-tab-item:hover {
    background: #444444;
    color:white;
    border: 1px solid #444444;
}
.fixed-tab .fixed-tab-item:first-child {
    border-radius: 0 0 0 10px;
}
.fixed-tab .fixed-tab-item:last-child {
    border-radius: 0 0 10px 0 ;
}
.fixed-tab .fixed-tab-item.return-top {
    background:#f7722b;
    color:white;
    border: 1px solid #f7722b;
}
.fixed-tab .fixed-tab-item.return-top:hover {
    background:#fab01e;
    border: 1px solid #fab01e;
}
.magnifierBigBox {
    margin-left: 10px;
    border: 1px solid #ff9838 !important;

}
.comments-total {
    color: #f76a1e;
    font-weight: 900;
}
.detail-title .gallery {
    float: left;
    width: 430px;
    height: 200px;
    position: relative;
    background: #000;
}
.detail-title .gallery .img-main {
    position: relative;
    height: 430px;
    width: 430px;
    background: #dddddd;


}
.detail-title .gallery .img-main:hover .img-mask{
    display: block;
}
.detail-title .gallery .img-thumb {
    width: 430px;
    margin-top: 20px;
}
.detail-title .gallery .img-thumb .img-wrap {
    width: 435px;
    text-align: center;

}

.detail-title .gallery .img-thumb img {
    padding: 1px;
    margin-right: 1px;
    display: inline-block;
    height: 80px;
    width: 80px;
    background: #eeeeee;
    color: white;
    cursor: pointer;
        box-sizing: border-box;
    border: 1px solid #dddddd;
    overflow: hidden;
}
.detail-title .gallery .img-thumb img:hover {
    border: 1px solid #f76a1e;
}
.detail-title .gallery .img-big {
    position: absolute;
    width: 430px;
    height: 430px;
    top: 0;
    background: #fe6e6f;
    right: -440px;
    z-index: 99;
    display: none;

}
.detail-title .gallery .img-mask {
    width: 100px;
    height: 100px;
    background: #000;
}
/*property*/
.detail-title .property-list {
    float: left;
    width: 630px;
    margin-left: 20px;
    position: relative;
    margin-bottom: 20px;
}
.detail-title .property-item.title {
    padding-left: 10px;
    color: #444;
    font-size: 18px;
    font-weight: 900;
    display: block;
}
.detail-title .property-item.subtitle {
    margin: 5px 0;
    padding-left: 10px;
    font-size: 14px;
    color: #ff9838;
    display: block;
}
/*price*/
.detail-title .property-item.price-org {
        margin-top: 10px;
    padding-left: 10px;
    height: 40px;
    line-height:  40px;

}
.detail-title .property-item.price-org span{
    color: #888888;
}
.detail-title .property-item.price-org span:nth-of-type(2){
    font-family: "Arial",sans-serif !important;
    margin-left: 50px;
    text-decoration: line-through;
}
.detail-title .property-item.price {
    margin-bottom: 10px;
    padding-left: 10px;
    height: 60px;
    line-height:  60px;
    background: #fff9f0;
}
.detail-title .property-item.price span {
    margin-top: -10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.detail-title .property-item.price span:nth-of-type(1) {
    color: #888888;
}
.detail-title .property-item.price span:nth-of-type(2) {
    margin-left: 30px;
    font-size: 20px;
    color: #f76a1e;
    font-family:  Arial,Microsoft YaHei,sans-serif ;
}
.detail-title .property-item.price span:nth-of-type(3) {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    color: #f76a1e;
    font-size: 30px;
    font-weight: 900;


}
/*comment*/
.detail-title .property-item.comment {
    margin-top: 15px;
    width: 640px;
    margin-right: -10px;
    overflow: hidden;
    color: #888888;
    border-top: 1px dashed #cccccc;
    border-bottom:  1px dashed #cccccc;
}
.detail-title .property-item.comment .integral-A {
    color: #359e9e;
    font-weight: 900;
}
.detail-title .comment-item {
    margin: 10px 0;
    float: left;
    width: 315px;
    text-align: center;
    border-right: 1px solid #aaaaaa;
    color: #888888;
}
/*num*/
.detail-title .property-item.num {
    position: relative;
    margin-top: 10px;
    padding-left: 10px;
}
.detail-title .property-item.num *{
    color: #888;
}
.detail-title .property-item.num .arr-btn{
    position: absolute;
    top: -2px;
    left: 100px;
    height: 37px;

}
.detail-title .property-item.num .arr-btn .num-down {
    position: absolute;
    bottom: -2px;
    left: 0;

}
.detail-title .property-item.num .arr-item {
    display: inline-block;
    width:30px;
    height: 17px;
    background: #ff9838;
    color: white;
    text-align: center;
    line-height: 17px;
    cursor: pointer;
}
.detail-title .property-item.num .arr-item:hover {
    background: #ffcb56;
}
.detail-title .property-item.num .arr-item:active {
    background: #f76a1e;
}
.detail-title .property-item.num .arr-item i {
    color: white;
}
.detail-title .property-item.num .search-input {
    margin-left: 10px;
    width: 35px;
    height: 25px;

}
.detail-title .property-item.num .inventory {
    margin-left: 50px;
}
/*type*/
.detail-title .property-item.type {
    padding-top: 5px;
    padding-right: -2px;
    position: relative;
    margin-top: 15px;
    width: 630px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.detail-title .property-item.type.error{
    border: 1px solid #f76a1e;
    background: #fff5f0;
}
.detail-title .property-item.type .key {
    margin-top: 17px;
    color: #888;
    position: absolute;
    margin-left: -40px;
}
.detail-title .property-item.type .type-list {
    width: 550px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.detail-title .property-item.type span {
    display: inline-block;
    margin-top: 10px;
}
.detail-title .property-item.type .type-item  {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 1px solid #aaaaaa;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    padding-right: 20px;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    -webkit-transition: border 0.2s;
    -moz-transition: border 0.2s;
    -ms-transition: border 0.2s;
    -o-transition: border 0.2s;
    transition: border 0.2s;

}
.detail-title .property-item.type .type-item:hover {
    border: 1px solid #ff9838;
}
.detail-title .property-item.type .type-item.active {
    border: 1px solid #ff9838;


}
.detail-title .property-item.type .type-item.active:after {
    content: '\2764';
    color: white;
    background: #ff9838;
    right: 0;
    margin-left: 100px;
    position: absolute;
    top: 0;
    font-size: 12px;
    display: block;
    width: 14px;
    height: 35px;
    text-align: center;

}
/*buyLine*/
.detail-title .property-item.buy-line {
    margin-top: 30px;
   /*text-align: center;*/
}
.detail-title .property-item.buy-line .btn,.detail-title .property-item.buy-line .btn-red {
    font-size: 18px;
    padding: 10px 40px;
}
.detail-title .property-item.buy-line .btn-red {
    margin-left: 20px;
}
/*promise*/
.detail-title .property-item.promise {
    margin-left: 10px;
    margin-top: 20px;
}
.detail-title .property-item.promise span {
    margin-right: 20px;
    display: inline-block;
    color: #444;
}
.detail-title .property-item.promise span:nth-of-type(1) {
    color: #888;
}
.detail-content {
    position: relative;
    margin-top: 20px;
}
.detail-content .tab-title {
    display: inline-block;
    border-radius: 10px 10px 0 0 ;
    height: 40px;
    line-height:  40px;
    position: relative;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;

}
.detail-content .tab-title span {
    border: 1px solid #cccccc;
    height: 100%;
    cursor: pointer;
    color: #444;
    display: block;
    float: left;
    padding: 0 20px;
    margin-right: -1px;

}
.detail-content .tab-title span:hover {

    color: #fab01e;

}
.detail-content .tab-title span.active {
    color: #444;
    background: white;
    border-top: 2px solid #ff9838;
    margin-top: -1px;
    border-left: 1px solid #cccccc ;
    border-right: 1px solid #cccccc ;
    border-bottom: 1px solid white;
}
.detail-content .tab-title span:first-child {

    border-radius: 5px 0 0 0 ;
}
.detail-content .tab-title span:last-child {
    border-radius:  0 5px 0 0 ;

}
.detail-content .tab-content {
    border: 1px solid #ccc;
    margin-top: -5px;
    background: white;
    min-height: 250px;
}
.detail-content .tab-content .tab-content-item {
    height: auto;
    margin: 1px 1px;
}
.detail-content .tab-content .tab-content-item img {
    width: 100%;
    height: auto;
}
.detail-content .testCont {
    margin-top: 59px;
    text-align: center;
}