<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - 穷猫商城</title>
</head>
<body>
<%= require('html-loader!../util/alert-window/index.html') %>
<%= require('html-loader!./layout/nav.html') %>
<div class="page-wrap w">
   <div class="main" >
      <div> 此商城所有商品为非卖品，不能构成真实交易</div>
       <a href="./index.html" class="back-to-home btn-red btn-mini">返回首页</a>
   </div>

</div>
<%= require('html-loader!./layout/footer.html') %>
</body>

</html>


