<!--
  ~ @Author: Avenda
  ~ @Date: 2018/10/14
  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="test-containter">
    <div id="linkage" data-toggle="distpicker">
        <select data-province="选择省份"></select>
        <select data-city="选择城市"></select>
        <select data-district="选择区"></select>
    </div>
</div>

<!--<div class="confirm-window hide">-->
    <!--<div class="bg" id="login-alert-bg">-->
        <!--<a id="confirm-open-alert" hidden></a>-->
        <!--<div class="alert-box">-->
            <!--<div class="box-wrap">-->
                <!--<div class="title">-->
                    <!--<a>提示</a>-->
                    <!--<div class="close" id="confirm-close">-->
                        <!--<i class="fa fa-close"></i>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="content">-->
                       <!--<div class="context">-->

                       <!--</div>-->
                <!--</div>-->
                <!--<div class="oper">-->
                    <!--<div class="oper-item btn ensure ">确定</div>-->
                    <!--<div class="oper-item btn-red cancel">取消</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<%= require('html-loader!./layout/footer.html') %>
</body>
</html>