<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - 穷猫商城</title>
</head>

<body>
<%= require('html-loader!./layout/alert-window.html') %>
<%= require('html-loader!./layout/nav.html') %>
<%= require('html-loader!./layout/header.html') %>

<div class="page-wrap">
    <!--面包屑导航-->

    <div class="crumb">
        <div class="w">
            <div class="crumb-con">
                <a href="./index.html" class="link">首页</a>
                <span>></span>
                <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
            </div>
        </div>
    </div>
    <!--侧边栏-->
    <div class="w">
        <%= require('html-loader!./layout/nav-side.html') %>
        <div class="content with-nav">
            <div class="panel user-panel">
                <div class="panel-title">用户中心</div>
                <div class="panel-content" id="panel-content">
                    <div class="loading"></div>
                </div>
                <button class="btn center-block" id="goto-update">修改资料</button>
            </div>
        </div>
    </div>
</div>
<%= require('html-loader!./layout/footer.html') %>
</body>

</html>


