<!--
  ~ @Author: Avenda
  ~ @Date: 2018/10/5 
  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - 穷猫商城</title>
</head>
<body>
<%= require('html-loader!./layout/nav-simple.html') %>
<%= require('html-loader!./layout/alert-window.html') %>
<div class="main">
    <div class="w">
        <div class="user-title">
            <h3>找回密码</h3>
        </div>
        <div class="user-box username-input">
            <div class="user-item">
                <input type="text" class="input-default" id="username" placeholder="请输入用户名" autocomplete="off"/>
                <label for="username" class="label-default-ico"><i class="fa fa-user-circle"></i></label>
            </div>
            <div class="error-item username-err" >
                <i class="fa fa-minus-circle">&nbsp&nbsp&nbsp</i><span id="username-err">xxx</span>
            </div>
            <div class="user-item">
                <button class="btn" id="submit-username"> 下一步</button>
            </div>
            <div class="link-item">
                <a class="link high-light" href="./user-login.html">返回登录</a>
            </div>
        </div>
        <!--………………………………………………………………………………………………………答案……………………………………………………………………………………………………………-->
        <div class="user-box password-answer">

            <div class="user-item">
                <div class="question">问题: <span class="high-light" id='pass-quest'></span></div>
                <input type="text" class="input-default" id="pass-answer" placeholder="请输入答案" autocomplete="off"/>
                <label for="pass-answer" class="label-default-ico"><i class="fa fa-user-circle"></i></label>
            </div>
            <div class="error-item pass-answer-err" >
                <i class="fa fa-minus-circle">&nbsp&nbsp&nbsp</i><span id="pass-answer-err">xxx</span>
            </div>
            <div class="user-item">
                <button class="btn" id="submit-pass-answer"> 下一步</button>
            </div>
            <div class="link-item">
                <a class="link high-light" href="./user-login.html">返回登录</a>
            </div>
        </div>
        <div class="user-box password-new">
            <!--………………………………………………………………………………………………………密码输入……………………………………………………………………………………………………………-->
            <div class="user-item">
                <input type="password" class="input-default" id="password" placeholder="请输入新密码" autocomplete="off"/>
                <label for="password" class="label-default-ico"><i class="fa fa-user-circle"></i></label>
            </div>
            <div class="error-item password-err" >
                <i class="fa fa-minus-circle">&nbsp&nbsp&nbsp</i><span id="password-err"></span>
            </div>
            <!--………………………………………………………………………………………………………密码确认……………………………………………………………………………………………………………-->
            <div class="user-item">
                <input type="password" class="input-default" id="pass-confirm" placeholder="请确认新密码" autocomplete="off"/>
                <label for="password" class="label-default-ico"><i class="fa fa-user-circle"></i></label>
            </div>
            <div class="error-item pass-confirm-err" >
                <i class="fa fa-minus-circle">&nbsp&nbsp&nbsp</i><span id="pass-confirm-err"></span>
            </div>
            <div class="user-item">
                <button class="btn" id="submit-passwordNew">提交</button>
            </div>
            <div class="link-item">
                <a class="link high-light" href="./user-login.html">返回登录</a>
            </div>
        </div>

    </div>
</div>
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>