<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - 穷猫商城</title>
</head>

<body>
<%= require('html-loader!./layout/alert-window.html') %>
<%= require('html-loader!./layout/nav.html') %>
<%= require('html-loader!./layout/header.html') %>

<div class="page-wrap">
    <!--面包屑导航-->

    <div class="crumb">
        <div class="w">
            <div class="crumb-con">
                <a href="./index.html" class="link">首页</a>
                <span>></span>
                <class class="link-text"><%= htmlWebpackPlugin.options.title%></class>
            </div>
        </div>
    </div>
    <!--侧边栏-->
    <div class="w">
        <%= require('html-loader!./layout/nav-side.html') %>
        <div class="content with-nav">
            <div class="panel user-panel">
                <div class="panel-title">修改密码</div>
                <div class="panel-content" id="panel-content">
                    <!--容器-->
                    <!--…………………………………………………………………………………………………………………………………………旧密码…………………………………………………………………………………………………………………………………………-->
                    <div class="form-line">
                        <label for="oldPass">旧密码</label>
                        <input type="password" class="input-default " id="oldPass" placeholder="请输入旧密码" autocomplete="off" />
                    </div>
                    <div class="err-wrap">
                        <div class="error-item oldPass-err" >
                            <i class="fa fa-minus-circle">&nbsp&nbsp&nbsp</i><span id="oldPass-err">xxx</span>
                        </div>
                    </div>
                    <!--…………………………………………………………………………………………………………………………………………新密码…………………………………………………………………………………………………………………………………………-->
                    <div class="form-line">
                        <label for="newPass">新密码</label>
                        <input type="password" class="input-default " id="newPass" placeholder="请输入新密码" autocomplete="off" />
                    </div>
                    <div class="err-wrap">
                        <div class="error-item newPass-err" >
                            <i class="fa fa-minus-circle">&nbsp&nbsp&nbsp</i><span id="newPass-err">xxx</span>
                        </div>
                    </div>
                    <!--…………………………………………………………………………………………………………………………………………新密码确认…………………………………………………………………………………………………………………………………………-->
                    <div class="form-line">
                        <label for="newPassConfirm">确认新密码</label>
                        <input type="password" class="input-default " id="newPassConfirm" placeholder="请确认新密码" autocomplete="off" />
                    </div>
                    <div class="err-wrap">
                        <div class="error-item newPassConfirm-err" >
                            <i class="fa fa-minus-circle">&nbsp&nbsp&nbsp</i><span id="newPassConfirm-err">xxx</span>
                        </div>
                    </div>
                    <!--…………………………………………………………………………………………………………………………………………提交…………………………………………………………………………………………………………………………………………-->
                    <button class="btn center-block" id="submit">提交</button>
                    <!--容器-->
                </div>

            </div>
        </div>
    </div>
</div>
<%= require('html-loader!./layout/footer.html') %>
</body>

</html>


