<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - 穷猫商城</title>
</head>

<body>
<%= require('html-loader!../util/alert-window/index.html') %>
<%= require('html-loader!./layout/nav-simple.html') %>
<div class="login-page">
    <div class="bg-img2"></div>
    <div class="w">
        <!--主体-->
        <div class="user-main">
            <!--用户登录-->
            <h3 class="">用户登录</h3>
                <div class="user-box">
                    <!--账号-->
                    <div class="user-item">
                        <input type="text" class="input-default" id="username" placeholder="请输入用户名" autocomplete="off"/>
                        <label for="username" class="label-default-ico"><i class="fa fa-user-circle"></i></label>
                    </div>
                    <!--提示信息-->
                    <div class="error-item username-err" >
                        <i class="fa fa-minus-circle">&nbsp&nbsp&nbsp</i><span id="username-err"></span>
                    </div>
                    <!--========================================================================================================-->
                    <div class="user-item">
                        <input type="password" class="input-default" id="password" placeholder="请输入密码" autocomplete="off"/>
                        <label for="password" class="label-default-ico"><i class="fa fa-certificate"></i></label>
                    </div>
                    <!--提示信息-->
                    <div class="error-item password-err" >
                        <i class="fa fa-minus-circle">&nbsp&nbsp&nbsp</i><span id="password-err"></span>
                    </div>

                    <div class="user-item">
                        <button class="btn" id="submit">登录</button>
                    </div>
                    <div class="link-item">
                        <a  class="link" target="_blank" id="reset-password">忘记密码</a>
                        <a href="./user-register.html" class="link high-light" >立即注册</a>
                    </div>
                </div>
            <div class="bg-img"></div>
        </div>

    </div>

</div>
<%= require('html-loader!./layout/footer.html') %>
</body>

</html>


