/*
 * @Author: Avenda
 * @Date: 2018/10/6
 */
.content.with-nav {
    background: white;
    white-space: nowrap;

}
.panel .panel-title {
    border-bottom: 1px solid #eee;
    padding: 10px 10px;
    font-weight: 900;
    color: #666;
}
.panel .panel-content {
    padding: 10px 0 ;
    position: relative;
}
.user-panel .btn {
    display: block;
    margin: -20px auto 0 auto;

}
.panel .form-line {
    text-align: center;
    margin-left: -110px;
    margin-bottom: 25px;
}
.panel .form-line>label {
    display: inline-block;
    margin-right: 20px;
    text-align: right;
    color: #666;
    width: 100px;
}
.panel-content .err-wrap{
    position: absolute;
    display: block;
    width: 100%;
}
.panel-content .error-item {
    margin: -25px auto 0 auto;
    width: 240px;
    display: none;
}