/*
* Copyright © 2018 avenda2333.cn All Right Reserved
                   */
.footer {
    padding-top: 20px;
    padding-bottom: 10px;
}
.links {
    text-align: center;
    color: #888888;
    line-height: 30px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.copyright {
    text-align: center;
    color: #888888;
    line-height: 30px;
    margin-bottom: 20px;
}
