/*
 * @Author: Avenda
 * @Date: 2018/10/11
 */

.pg-content {
    width: 100%;
}
.pg-wrap {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 37px;
}
.pg-item {
    cursor: pointer;
    font-size: 12px;
    font-weight:900 ;
    color: #666666;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
.pg-item.active {
    color: #ff9838;
    font-size: 16px;
}
.pg-total {
    color: #999;
    margin-left: -10px;
}
.pg-content .pg-btn {
    height: 25px;
    line-height: 25px;
    color: white;
    font-size: 12px;
    padding: 0 10px ;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.pg-content .pg-btn.disabled {

    background: #aaa;

    cursor: default;
    -webkit-box-shadow: 0px 0px  0px #ff9d2b;
    -moz-box-shadow: 0px 0px 0px #ff9d2b;
    box-shadow: 0px 0px  0px #ff9d2b;
}
.pg-content .pg-btn.disabled:active {
    top: 0;
}
.pg-content .pg-item.active {
    cursor: default;
}