/*
 * @Author: Avenda
 * @Date: 2018/10/3
 */
.register-page .error-item{
    margin-bottom: 10px;
    margin-top: -10px;
    /*修正位移错误*/
    /*todo 是否显示错误提示*/
    /*display: none;*/

}
.register-page .error-item .arr-down{
    display: block;
    position: absolute;
    margin-left: 120px;
    margin-top: -2px;
    color: #fe6e6f;
}
.register-page .error-item .arr-up {
    display: block;
    position: absolute;
    margin-left: 2px;
    margin-top: -6px;
}
.register-page .error-item {
    width: 250px;
}
.register-page .success-item {
    position: absolute;
    margin-top: -18px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.register-page .error-item,.register-page .success-item {
    display: none;
}
.register-page h3{
    font-size: 17px;
    font-weight: 900;
    margin: 10px 0;
    color: #666;
    margin-left: -20px;
    text-align: center;
}
.register-page  .label-default-ico * {
    color: #ff9838;
}
.register-page .user-item {
    position: relative;
    padding-bottom: 15px;
}
.register-page .user-main {
    position: relative;
    width: 270px;
    padding: 40px 30px;
    background: #f5f5f5;
    margin: 0 auto 0 auto;
}
.register-page .user-item .btn {
    width: 262px;
}

.register-page  .link-item {
    position: absolute;
    margin-top: -10px;
    right: 40px;
}