.header {
    height: 110px;
}
.header .logo {
    display: block;
    float: left;
    font-size: 50px;
    line-height: 100px;
    font-weight: bold;
    margin-right: 20px;
    color: #ff9838;
}
.header .logo-channel {
    position: absolute;
    bottom:  10px;
    font-weight: 900;
    left: 0;
    display: none;
}
.header .logo-channel .fa {
    margin-left: 10px;
    color: #f76a1e;
}
.header .logo-channel .logo-channel-content {
    color: #666666;
}
.header .logo .logo-plus {
    color: #444444;
}
.header .search {
    display: block;
    float: left;
    margin-top: 2.5rem;
    position: relative;
    margin-left: 100px;
}
.header .search .search-input {
    float: left;
    /* padding: 7px 0 7px 15px; */
    padding-left: 15px;
    height: 20px;
    line-height: 20px;
    border-radius: 1rem 0 0 1rem;
    width: 500px;
    color: #ff9838;

}
.header .search .keywords {
    margin: 35px 0 0 10px;

}
.header .search .btn-search {
    /* padding: 7px 15px; */
    text-align: center;
    width: 30px;
    height: 22px;
    line-height: 22px;
    margin-left: -2px;
    float: left;
    border-radius: 0 1rem  1rem 0;
}
.header .focus-me {
    margin: 5px 0 0 110px;
    position: relative;
    float: left;
    width: auto;
    height: auto;
    border: 1px solid #ff9838;
    padding: 0 5px 5px 5px;
    background: white;
    border-radius: 5px;
}
.header .focus-me .focus-me-close{
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}
.header .focus-me .focus-me-close:hover .fa-times-rectangle:before {
    color: #666666;
}
.header .QA {
    background: url("../../../image/icons/QR-myOwn.png") round;
    width: 70px;
    height: 70px;
}
.header .fa-times-rectangle:before {
    color: #ff9838;
}

