<div class="alert-window hide">
    <div class="bg">
        <div class="alert-box">
            <div class="box-wrap">
                <div class="title">
                    <a>提 示</a>
                </div>
                <div class="content">
                    <a id="open-alert"></a>
                    <div class="high-light" id="alert-window-content" style="font-size: 12px">(,,•́ . •̀,,)</div>
                    <span id="alert-window-content-sub">与服务器连接失败</span>
                    <div class="load-line"></div>
                    <div class="close" id="close">
                        <i class="fa fa-close"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>