<div class="header">
    <div class="w clearfix">
        <a class="logo" href="./index.html" title="返回首页"><span class="logo-plus">Y</span>mall</a>
        <div class="logo-channel">
            <i class="fa fa-angle-double-right"></i>
            <span class="logo-channel-content"></span>
        </div>
        <div class="search">
            <input type="text" class="search-input" id="search-input" placeholder="请输入商品名称"/>
            <div class="btn-search" id="btn-search">搜 索</div>
            <div class="keywords">
                <a class="link-sub" href="./list.html?keyword=笔记本">笔记本</a>
                <a class="link-sub high-light" href="./list.html?keyword=手机">智能手机</a>
                <a class="link-sub high-light" href="./list.html?keyword=4k">4k</a>
                <a class="link-sub" href="./list.html?keyword=电视">智能家居</a>
                <a class="link-sub high-light" href="./list.html?keyword=冰箱">冰箱</a>
            </div>
        </div>
    </div>
</div>




