<meta charset="UTF-8">
<!--如果浏览器是有ie的话,优先使用edge浏览器, 如果没有就使用其他的-->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<!--SEO优化-->
<meta name="keywords" content="穷猫,电商,穷猫商城,穷猫电商,电商学习,网上商城">
<!--SEO描述, demo别乱写, 不然上线了会被检测到-->
<meta name="description" content="电商的网站">
<!--声明utf-8编码-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link  rel="dns-prefetch"  href="//cdn.bootcss.com">
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?2f4bd3c0704e80eab888277e9e9638a1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
