/*
 * @Author: Avenda
 * @Date: 2018/10/5
 */

/*通用-------------------------------------------------------------*/
.main {
    margin: 100px 0;
}
.user-box,.user-title{
    width: 260px;
    margin: 0 auto;
}
/*每一步的容器*/
.user-box {
    display: none;
}
.user-box .user-item input{
    width: 250px;
    margin-bottom: 30px;
}
.user-box .user-item button {
    width: 262px;
}
.user-box .user-item .question {
    margin-bottom: 10px;
}

.user-title>h3 {
    color: #666;
    font-size: 17px;
    font-weight: 900;
    margin: 20px 0;
    text-align: center;
    width: 250px;

}
.user-box .error-item {
    position: absolute;
    display: none;
    margin-top: -30px;
}
.user-box .link-item {
    margin-top: 10px;
    text-align: right;
}
/*分层-------------------------------------------------------------*/
