.result-con {
    margin: -130px 0 30px 0;
    display: none;
}
.result-con .result-title {
    color: #444;
}
.result-con .result-content {
    margin-top: 150px;
    position: relative;
}
.result-page {
    margin-top: 50px;
    margin-bottom: 50px;
}
.result-page .character-img {
    display: none;
    height: 325px;
    width: 200px;
    background: url('../../image/character-img.jpg') no-repeat;
    margin: 0 auto;
}
.result-page .result-content .pointer {
    display: inline-block;
    position: absolute;
    margin-top: -40px;

    margin-left: -50px;
}
.fa-hand-o-down:before {
    color: #ff9838;
}
.arr-down-magic {
   height: 42px;
    width: 15px;
    background: url("../../image/icons/arr-down-magic.gif") round;
}